@media(max-width: 767px){
    .temp{
        display: none;
    }
    .no_mob{
        /*display: none;*/
    }
}

.mob-hamb {
    overflow: auto;
    background-color: white;
    position: fixed;
    right: -75%;
    top: 0px;
    height: 100%;
    width: 75%;
    z-index: 2000;
    transition: all 700ms;
}
.mob-hamb a{
    text-decoration: none;
}
.mob-hamb-active {
    transition: all 700ms;
    right: 0% !important;
}

.mob-hamb-x {
    font-size: 47px;
    padding: 0px 20px;
    color: #a8cf45;
}

.mob-hamb-fr, .mob-hamb-fr-, .mob-hamb-se, .mob-hamb-se-, .mob-hamb-th div {
    padding: 10px;
    width: 100%;
    background-color: #a8cf45;
    color: white;
    font-size: 20px;
    margin: 2px 0px;
    transition: all 700ms;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
}

.mob-hamb-se {
    display: none;
}

.mob-hamb-th {

    display: none;
}

.mob-hamb a {
    color: white;
    position: relative;
    width: 100%;
    height: 100%;

}

.view-active {
    display: block;
}

.mob-hamb-add-margin {
    margin-left: 30px !important;
    transition: all 700ms;
}

.mob-hamb-add-margin-x2 {
    margin-left: 60px !important;
    transition: all 700ms;
}

.mob-hamb-remove-margin {
    margin-left: -30px !important;
    transition: all 700ms;
}

.txt3 a {
    width:max-content !important;
}


.h_contact_table{
    margin-bottom: 8px;
    -webkit-box-shadow: -4px 0px 15px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 0px 15px -7px rgba(0,0,0,0.75);
box-shadow: -4px 0px 15px -7px rgba(0,0,0,0.75);
}