@media(max-width: 767px){
    .h-title{
        font-size: 29px !important;
    }
    .h_accordion p {
        font-size: 20px !important;
    }
    .h_bckg {
        background-position: center !important;
        height: 50vh !important;
    }
}
.top2_wrapper {
    background: none !important;
}
.txt2{
    color: white;
}
.banner2-wrapper{
    display: none;
}
.navbar_ .nav > li > a {
    color: white;
}
.top0 {
    background: none;
    border-bottom: none;
}
#top1 {
    margin-bottom: -140px;
}

.h_accordion {
    background: #a8cf45;
    height: 50px;
    cursor: pointer;
}
.grey{
    color: #8e9493 !important;
}

.h_header_nav{
    height: 95px; width: 100%; background: white;
    top: 0; z-index:12; position:fixed;-webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
}
.h_bckg{
    background-image: url(../images/head3.jpg);
    background-position: center;
    position: relative;
    z-index: 12;
    height: 100vh;
    background-size: cover;
}

.h-title{
    position: relative;
    top: 45%;
    margin: auto;
    width: max-content;
    font-size: 52px;font-weight: bold;line-height: 1.05;
    color: white;
}
.h-quote{
    width: 30%;
    height: 80%;
    position: relative;
    /*background: red;*/
    left: 70%;
    margin-top: 0%;
}
.h_accordion:hover p {
    color: whitesmoke;
    transition: all 0.5s;
}
.h-white{
    color: whitesmoke !important;
}
.h_accordion span{
    float: right;
    margin-right: 5%;
}
.h_accordion p {
    transition: all 0.5s;
}
.h_accordion span {
    font-size: 50px;
    transition: transform 0.5s;
}
.h-rotate{
    transform: rotate(45deg);
    transition: all 0.75s;
}
.h_deactive,.h_active{
    margin: 0px !important;
}
.top0 {
    z-index: 15;
}
#parallax1{z-index: 13;}


.h_accordion p{
    font-family: 'Exo';
    font-size: 23px;
    line-height: 48px;
    font-weight: 700;
    color: #8e9493;
    text-align: left;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    /* border-left: 4px solid #202020;
     */
    padding-left: 10px;
    text-align: center;
}

.h_active{
    overflow: hidden;
    max-height: 9900px;
    transition: max-height 1s ;
}
.h_deactive{
    overflow: hidden;
    max-height:0px;
    transition: max-height 1s;
}

.h_contact_table{
    -webkit-box-shadow: -2px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 14px -6px rgba(0,0,0,0.75);
    padding: 5px;
    margin: 0px 0px 15px 0px;
}







/*@media(max-width: 767px){*/
    /*.h-title{*/
        /*font-size: 29px !important;*/
    /*}*/
    /*.h_accordion p {*/
        /*font-size: 20px !important;*/
    /*}*/
    /*.h_bckg{*/
        /*background-position: 30% center !important;*/
        /*height: 70vh !important;*/
        /*background-size: 200% 100% !important;*/
    /*}*/
/*}*/
/*.top2_wrapper {*/
    /*background: none !important;*/
/*}*/
/*.txt2{*/
    /*color: white;*/
/*}*/
/*.banner2-wrapper{*/
    /*display: none;*/
/*}*/
/*.navbar_ .nav > li > a {*/
    /*color: white;*/
/*}*/
/*.top0 {*/
    /*background: none;*/
    /*border-bottom: none;*/
/*}*/
/*#top1 {*/
    /*margin-bottom: -140px;*/
/*}*/

/*.h_accordion {*/
    /*background: #a8cf45;*/
    /*height: 50px;*/
    /*cursor: pointer;*/
/*}*/
/*.grey{*/
    /*color: #8e9493 !important;*/
/*}*/

/*.h_header_nav{*/
    /*height: 95px; width: 100%; background: white;*/
    /*top: 0; z-index:12; position:fixed;-webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);*/
    /*box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);*/
/*}*/
/*.h_bckg{*/
    /*!*background-image: url(../images/head3.jpg);*!*/
    /*!*background-position: center;*!*/
    /*position: relative;*/
    /*z-index: 12;*/
    /*height: 100vh;*/
    /*!*background-size: cover;*!*/
/*}*/
/*.h_bckg_img{*/
    /*width: 100%;*/
    /*height:auto;*/
/*}*/
/*.h-title{*/
    /*position: relative;*/
    /*top: 45%;*/
    /*margin: auto;*/
    /*width: max-content;*/
    /*font-size: 52px;font-weight: bold;line-height: 1.05;*/
    /*color: white;*/
/*}*/
/*.h-quote{*/
    /*width: 30%;*/
    /*height: 80%;*/
    /*position: relative;*/
    /*!*background: red;*!*/
    /*left: 70%;*/
    /*margin-top: 0%;*/
/*}*/
/*.h_accordion:hover p {*/
    /*color: whitesmoke;*/
    /*transition: all 0.5s;*/
/*}*/
/*.h-white{*/
    /*color: whitesmoke !important;*/
/*}*/
/*.h_accordion span{*/
    /*float: right;*/
    /*margin-right: 5%;*/
/*}*/
/*.h_accordion p {*/
    /*transition: all 0.5s;*/
/*}*/
/*.h_accordion span {*/
    /*font-size: 50px;*/
    /*transition: transform 0.5s;*/
/*}*/
/*.h-rotate{*/
    /*transform: rotate(45deg);*/
    /*transition: all 0.75s;*/
/*}*/
/*.h_deactive,.h_active{*/
    /*margin: 0px !important;*/
/*}*/
/*.top0 {*/
    /*z-index: 15;*/
/*}*/
/*#parallax1{z-index: 13;}*/


/*.h_accordion p{*/
    /*font-family: 'Exo';*/
    /*font-size: 23px;*/
    /*line-height: 48px;*/
    /*font-weight: 700;*/
    /*color: #8e9493;*/
    /*text-align: left;*/
    /*text-transform: uppercase;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 20px;*/
    /*!* border-left: 4px solid #202020;*/
     /**!*/
    /*padding-left: 10px;*/
    /*text-align: center;*/
/*}*/

/*.h_active{*/
    /*overflow: hidden;*/
    /*max-height: 9900px;*/
    /*transition: max-height 1s ;*/
/*}*/
/*.h_deactive{*/
    /*overflow: hidden;*/
    /*max-height:0px;*/
    /*transition: max-height 1s;*/
/*}*/

/*.h_contact_table{*/
    /*-webkit-box-shadow: -2px 0px 1px 0px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: -2px 0px 1px 0px rgba(0,0,0,0.75);*/
    /*box-shadow: -2px 0px 14px -6px rgba(0,0,0,0.75);*/
    /*padding: 5px;*/
    /*margin: 0px 0px 15px 0px;*/
/*}*/
