.btn-220 {
     width: 270px !important;
     margin: 0 auto !important;
}
 .center {
     text-align: center;
}
 .banner_index_fixed {
     position: fixed;
     top: 95px;
     width: 100%;
     z-index: 11;
}
 .banner_index_fixed_container {
     height: 154px;
     display: none;
}
 .inner-menu-3 {
     left: 190px !important;
     top: 3px !important;
}
 @media (max-width: 767px) {
     .inner-menu-3 {
         left: 10px !important;
         top: 0px !important;
    }
}
 .force-open {
     display: block !important;
}
 .btn-default.btn2a {
     display: block;
     text-decoration: none;
     color: #ffffff;
     font-weight: 700;
     font-family: 'Exo';
     font-size: 14px;
    /* line-height: 14px;
     */
     padding: 15px 5px;
     text-transform: uppercase;
     letter-spacing: 0px;
     background: #a8cf45;
     position: relative;
     width: 100%;
     text-align: center;
     margin-bottom: 0px;
     border: 1px solid #8e9493;
     transition: all 0.3s ease-out;
}
 