#parallax1 > div.parallax-content > div > div.wl_bg.row > div:nth-child(2) > div::before {
    background: white !important;
}

@media (min-width: 1230px) {

    .container {
        width: 1200px !important;
    }
}

@media (min-width: 992px) and (max-width: 1230px) {

    .container {
        width: auto !important;
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar_ .nav > li {
        margin-left: 10px !important;
    }

}
@media (min-width: 768px) and (max-width: 991px) {

    .container {
        width: auto !important;
        margin-left: 10px;
        margin-right: 10px;
    }
    .navbar_ .nav > li {
        margin-left: 0px !important;
    }
    .logo_wrapper {
        margin-top: 0px !important;
    }
    .logo_wrapper img {
        max-width: 80%;
        height: auto;
    }
}
@media (max-width: 768px) {

    .logo_wrapper img {
        max-width: 80%;
        height: auto;
    }
    .logo_wrapper {
        margin-top: 0px !important;
    }
}

.wl_bg {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.wl_bt {
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Exo';
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}