 head, body{
     width: 100%;
     overflow-x: hidden;
}
 .siema > div {
    /*width: 300% !important;
    */
}
 .siemma-goto {
     cursor: pointer;
}
 .full-width {
     width: 100%;
}
 .page5-siema {
     max-width: 80%;
}
 .p5-img1 {
     width: 100%;
}
 .p5-div3 {
     z-index: 100;
}
 .logo-btn, .go-back-btn {
     display: inline-block;
}
 .pages {
     overflow: hidden;
}
 .p1-2-sec1{
     overflow: hidden;
}
