@font-face {
     font-family: Exo-Regular;
     src: url(fonts/Exo-Regular.ttf);
}
 body {
     font-family: Exo-Regular;
    /*background: #8e9493;
    */
     height: 100%;
     min-height: 100vh;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     background-attachment: fixed;
     background: #d3d3d3;
     background: -moz-linear-gradient(-45deg, #d3d3d3 0%, #666666 100%);
     background: -webkit-linear-gradient(-45deg, #d3d3d3 0%,#666666 100%);
     background: linear-gradient(135deg, #d3d3d3 0%,#666666 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#666666',GradientType=1 );
    /*background-size: cover;
    */
     margin: 0;
     overflow-x: hidden;
}
 a{
     text-decoration: none;
}
 .cont-pw {
     /*max-width: 1350px;*/
     /*min-width: 720px;*/
     margin: auto;
     text-align: center;
}
 header {
     padding: 70px 0 40px;
    /*border-bottom: 2px solid #a8cf45;
    */
}
 header nav {
     float: right;
     margin-top: 30px;
     font-size: 18px;
}
 header nav a {
     text-decoration: none;
     color: white;
}
 .hed_sp1 {
     font-weight: bold;
}
 .main_menu{
     width: 20%;
     float: left;
     height: 100px !important;
     transition: all 1s;
}
 .main_menu .cont-pw.font24b{
     padding-top: 30px;
}
 .main_menu .cont-pw{
     min-width: 0px !important;
     font-size: 22px;
}
 @media (max-width: 450px){
     .main_menu.font24b{
         padding-top: 20px;
    }
     .main_menu .cont-pw{
         font-size: 13px;
    }
}
 @keyframes example {
     0% {
         height: 0px;
    }
     100% {
         height: 140px;
    }
}
 @keyframes head {
     0% {+
         left: -120%;
         position: relative;
    }
     100% {
         left: 0%;
         position: relative;
    }
}
 @keyframes head_right {
     0% {
         right: -120%;
         position: relative;
    }
     100% {
         right: 0%;
         position: relative;
    }
}
 .header_logo{
}
 header,footer{
     animation-name: head;
     animation-duration: 1s;
     animation-delay: 0s;
     animation-fill-mode: both;
}
 .pages{
     animation-name: head;
     animation-duration: 1s;
     animation-delay: 1s;
     animation-fill-mode: both;
     border-bottom: 2px solid #a8cf45;
     border-top: 2px solid #a8cf45;
}
 .p5-div666 {
     animation-name: head;
     animation-duration: 1s;
     animation-delay: 4s;
     animation-fill-mode: both;
}
 .p3-div1 {
     animation-name: head;
     animation-duration: 1s;
     animation-delay: 2s;
     animation-fill-mode: both;
}
 .siema,.p5-div5 {
     animation-name: head;
     animation-duration: 1s;
     animation-delay: 3s;
     animation-fill-mode: both;
}
 #o_first{
     animation-name: example;
     animation-duration: 0.75s;
     animation-delay: 2s;
     animation-fill-mode: both;
}

  .p1-2-dv1{
    display: none !important;
 }
  .o_active{
    margin-left: 100%;
    transition: 1s;
 }
 #o_second{
     animation-name: example;
     animation-duration: 0.75s;
     animation-delay: 2.5s;
     animation-fill-mode: both;
}
 #o_third{
     animation-name: example;
     animation-duration: 0.75s;
     animation-delay: 3s;
     animation-fill-mode: both;
}
 #o_fourth{
     animation-name: example;
     animation-duration: 0.75s;
     animation-delay: 3.5s;
     animation-fill-mode: both;
}
@keyframes i {
    0% {
        height: 0px;
    }
    100% {
        height: 80px;
    }
}
 #i_second{
     animation-name: i;
     animation-duration: 0.5s;
     animation-delay: 2.5s;
     animation-fill-mode: both;
     transition: all 0.3s ease 0s, left 0.5s ease 1.5s;
}
 #i_third{
     animation-name: i;
     animation-duration: 0.5s;
     animation-delay: 2.75s;
     animation-fill-mode: both;
     transition: all 0.3s ease 0s, left 0.5s ease 1.5s;
}
 #i_fourth{
     animation-name: i;
     animation-duration: 0.5s;
     animation-delay: 3s;
     animation-fill-mode: both;
     transition: all 0.3s ease 0s, left 0.5s ease 1.5s;
}
 #i_fifth{
     animation-name: i;
     animation-duration: 0.5s;
     animation-delay: 3.25s;
     animation-fill-mode: both;
     transition: all 0.3s ease 0s, left 0.5s ease 1.5s;
}
 #i_sixth{
     animation-name: i;
     animation-duration: 0.5s;
     animation-delay: 3.5s;
     animation-fill-mode: both;
     transition: all 0.3s ease 0s, left 0.5s ease 1.5s;
}
 header nav a img {
     vertical-align: middle;
     margin-left: 15px;
     max-width: 100%;
     -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
}
 header nav a img:hover{
     -moz-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.4);
}
 .hed_sp2 {
     margin-left: 90px;
}
 footer {
     font-size: 19px;
     color: white;
    /* padding: 50px 0 100px;
     */
    /*border-top: 2px solid #a8cf45;
    */
     height: 25px;
     padding: 30px 0px;
}
 .p1-main {
    /*margin: 180px 0 200px;
    */
}
 .p1-2-sec1 {
     height: 144px;
     background-size: contain;
     cursor: pointer;
    /*margin-top: 2px;
    */
     max-width: 100%;
     -moz-transition: all 1s;
     -webkit-transition: all 1s;
     transition: all 1s;
}
 .main_menu:active{
     margin-left: 0% !important;
}
 #o_first{
     z-index: 5;
}
 #i_second,#i_third,#i_fourth,#i_fifth,#i_sixth{
     left: 0 !important;
     /*height: 0px !important;*/
     z-index: 3;
     transition: all 0.7s;
}
 .i_active{
     margin-top: -80px !important;
}
 .p1-2-sec1_active{
     height: 250px;
    /* -moz-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.3);
    */
     margin-left: -100%;
}
 .font24b {
     height: inherit;
     font-size: 26px;
     font-weight: bold;
     color: #31cc16;
     padding-top: 60px;
     background: no-repeat top right;
     box-sizing: border-box;
}
 .font24b:hover{
     text-align: center;
    /*font-size: 30px;
    */
}
 .p1-sec1 {
     #background: linear-gradient(90deg, #00bbd3, #023729);
     background-color: #037d69;
}
 .p1-2-dv1xxxxxxx {
     width: 100%;
     height: 80px;
     background: url(img/png2x.png) no-repeat;
     position: absolute;
     margin-top: 34px;
     display: none;
}
 .p1-2-dv1 {
     width: 100%;
     height: 80px;
    /*background: url(img/png2p1n.png);
    */
     position: absolute;
     left: 0px;
     margin-top: 34px;
     display: none;
}
 .cont-pw .p1-2-dv1 {
     max-width: 1350px;
     margin-top: -26px;
     background: url(img/png2x.png) no-repeat;
}
 .p1-dv1 {
     background-image: url(img/png3.jpg);
    /* margin-top: 18px;
    */
}
 .p1-2-sec1:hover .p1-2-dv1 {
     display: block;
}
 .p1-2-sec1:hover .font24b {
     color: #a5ce39;
}
 .p1-sec2 {
     background: #643db1;
}
 .p1-dv2 {
     background-image: url(img/png5.jpg);
     margin-top: 13px;
}
 .p2-main {
    /*margin: 40px 0;
    */
}
 .p2-sec1 {
     background-color: #095e47;
}
 .p2-dv1 {
     background-image: url(img/png7.jpg);
}
 .p2-sec2 {
     background-color: #8d3a06;
}
 .p2-dv2 {
     background-image: url(img/png9.jpg);
}
 .p2-sec3 {
     background-color: #5f2221;
}
 .p2-dv3 {
     background-image: url(img/png10.jpg);
}
 .p2-sec4 {
     background-color: #087199;
}
 .p2-dv4 {
     background-image: url(img/png11.jpg);
}
 .p3-main,.p4-main,.p5-main {
     margin: 20px 0;
     overflow: hidden;
}
 .p3-div1 {
     float: right;
     margin-right: 75px;
}
 .p3-bt1 {
     min-width: 203px;
     height: 39px !important;
     background-color: #a5ce39;
     padding: 0;
     border: 0;
     text-align: left;
     outline: 0;
     cursor: pointer;
     margin-left: 25px;
     border: solid 1px #a5ce39;
     transition: all 600ms;
}
 .p3-bt1:hover{
     background-color: #7c8684;
     color: #a5ce39;
     transition: all 600ms;
}
 .p3-sp1 {
     width: 40px;
     height: 100%;
     background-color: #7c8684;
     display: inline-block;
     text-align: center;
     box-sizing: border-box;
    /*padding-top: 9px;
    */
     color: white;
     margin: 0 0px 0px;
     vertical-align: middle;
     font-family: monospace;
     font-size: 25px;
     padding-top: 3px;
}
 .p3-sp2 {
     font-size: 14px;
     margin: 0 8px 0 15px;
}
 .p3-div2 {
     clear: both;
     padding: 20px 0;
     display: flex;
     flex-wrap: wrap;
    /*justify-content: space-between;
    */
     width: calc(100% + 30px);
    /* margin-left: -15px;
    */
     justify-content: center;
}
 .p3-div3 {
     width: 200px;
     height: 148px;
    /*background: #efefef;
    */
     margin: 15px;
     max-width: 100%;
    /*border:#a8cf45 2px solid;
    */
     background: #ffffff;
     background: -moz-linear-gradient(top, #ffffff 0%, #c9c9c9 99%);
     background: -webkit-linear-gradient(top, #ffffff 0%,#c9c9c9 99%);
     background: linear-gradient(to bottom, #ffffff 0%,#c9c9c9 99%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9',GradientType=0 );
     -webkit-box-shadow: 0px 0px 5px 0.1px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 5px 0.1px rgba(0,0,0,0.75);
     box-shadow: 0px 0px 5px 0.1px rgba(0,0,0,0.75);
     border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
     -webkit-border-radius: 6px 6px 6px 6px;
     border: 1px solid #d1d1d1;
}
 .p3-div3:hover{
     background: #83c783;
     background: -moz-linear-gradient(top, #83c783 4%, #52b152 25%, #008a00 56%, #005700 85%, #003f00 100%);
     background: -webkit-linear-gradient(top, #83c783 4%,#52b152 25%,#008a00 56%,#005700 85%,#003f00 100%);
     background: linear-gradient(to bottom, #83c783 4%,#52b152 25%,#008a00 56%,#005700 85%,#003f00 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c783', endColorstr='#003f00',GradientType=0 );
    /*-moz-transform: scale(1.1);
    */
    /*-webkit-transform: scale(1.1);
    */
    /*transform: scale(1.2);
    */
    /*border:#a8cf45 5px solid;
    */
}
 .p3-div3.active {
     background-image: url("img/png13g.png");
}
 .p3-div4 {
     width: inherit;
     height: 152px;
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     position: relative;
}
 .p3-img1 {
     max-width: 140px;
     max-height: 112px;
}
 .p3-div5 {
     text-align: center;
     font-size: 90px;
     margin-top: -60px;
     color: #AAA;
     font-family: monospace;
}
 .p3-div5 span.active {
     color: white;
}
 .p4-div1 {
     font-size: 14px;
     font-weight: bold;
     position: absolute;
     text-align: center;
     width: inherit;
     bottom: 10px;
     color: #000000;
}
 .p4-main .p3-img1 {
     max-height: 90px;
}
 .p5-main .p3-div1 {
     margin-bottom: 20px;
}
 .p5-div1 {
     width: 119px;
     position: absolute;
     margin-top: 130px;
}
 .p5-div2 {
     width: inherit;
     margin-top: 10px;
     border: 0;
     outline: 0;
     padding: 0;
     cursor: pointer;
     display: block;
     background: none;
}
 .p5-div3 {
     width: inherit;
     background-color: #a5ce39;
     font-size: 14px;
     font-weight: bold;
     color: black;
     display: block;
     text-align: center;
     line-height: 32px;
     position: absolute;
     visibility: collapse;
}
 .p5-div2.active .p5-div3, .p5-div2:hover .p5-div3 {
     visibility: visible;
}
 .p5-div4 {
     width: 9px;
     height: 32px;
     background-color: #a5ce39;
     display: block;
}
 .p5-div5 {
     clear: both;
     background: #efefef;
     background-size: contain;
     background: rgba(255,255,255,1);
     background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 20%, rgba(242,239,242,1) 38%, rgba(230,230,230,1) 57%, rgba(209,209,209,1) 75%, rgba(191,189,191,1) 88%, rgba(191,189,191,1) 100%);
     background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(20%, rgba(240,240,240,1)), color-stop(38%, rgba(242,239,242,1)), color-stop(57%, rgba(230,230,230,1)), color-stop(75%, rgba(209,209,209,1)), color-stop(88%, rgba(191,189,191,1)), color-stop(100%, rgba(191,189,191,1)));
     background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 20%, rgba(242,239,242,1) 38%, rgba(230,230,230,1) 57%, rgba(209,209,209,1) 75%, rgba(191,189,191,1) 88%, rgba(191,189,191,1) 100%);
     background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 20%, rgba(242,239,242,1) 38%, rgba(230,230,230,1) 57%, rgba(209,209,209,1) 75%, rgba(191,189,191,1) 88%, rgba(191,189,191,1) 100%);
     background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 20%, rgba(242,239,242,1) 38%, rgba(230,230,230,1) 57%, rgba(209,209,209,1) 75%, rgba(191,189,191,1) 88%, rgba(191,189,191,1) 100%);
     background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 20%, rgba(242,239,242,1) 38%, rgba(230,230,230,1) 57%, rgba(209,209,209,1) 75%, rgba(191,189,191,1) 88%, rgba(191,189,191,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfbdbf', GradientType=1 );
     border: solid 1px white;
}
 .p5-div6 {
     width: 100%;
     height: 517px;
     display: inline-block;
     vertical-align: top;
     max-width: 72%;
}
 .p5-div7 {
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .p5-img1 {
     max-width: 605px;
     max-height: 443px;
     width: 100%;
}
 .p5-div8 {
     width: 2px;
     height: 517px;
     background-image: url(img/png17.png);
     position: absolute;
     left: 0;
}
 .p5-div9 {
     font-size: 14px;
     padding-left: 20px;
     color: #15132e;
     display: inline-block;
     position: relative;
     max-height: 517px;
     width: 100%;
     max-width: 24%;
     min-width: 200px;
}
/*.p5-div10 {
     font-size: 36px;
     font-weight: bold;
     padding: 25px 0 20px;
     text-transform: uppercase;
}
*/
 .p5-div10 {
     font-size: 30px;
     font-weight: bold;
     padding: 20px 0 20px;
     text-transform: uppercase;
}
 .p5-div11 {
     font-size: 18px;
}
/*.p5-div12 {
     padding: 25px 0 10px;
}
*/
 .p5-div12 {
     padding: 5px 0 10px;
}
/*.p5-div13 {
     width: 175px;
     font-size: 24px;
     font-weight: bold;
     border: 1px solid;
     line-height: 44px;
     text-align: center;
     margin-bottom: 15px;
     display: inline-block;
}
*/
 .p5-div13 {
     width: 135px;
     font-size: 18px;
     font-weight: bold;
     border: 1px solid;
     line-height: 30px;
     text-align: center;
     margin-bottom: 15px;
     display: inline-block;
}
 .p5-sp1 {
     white-space: nowrap;
}
 .p5-div14 div{
     padding: 5px 0;
}
 .p5-div14 {
     padding: 10px 15px 15px 20px;
     overflow: auto;
    /*border: solid 1px grey;
    */
     height: 195px;
     margin-bottom: 20px;
}
 .p5-sp2 {
     font-weight: bold;
}
/*.p5-div15 {
     display: flex;
     height: 144px;
     align-items: center;
     justify-content: center;
}
*/
 .p5-div15 {
     display: flex;
     height: 80px;
     align-items: center;
     justify-content: center;
}
 .p5-img2 {
     max-width: 100%;
     max-height: 100%;
}
 .p5-div16 {
     margin-top: 20px;
     font-size: 14px;
     font-weight: bold;
     float: right;
}
 .p5-btn1 {
     min-width: 180px;
     background-color: #a5ce39;
     padding: 0 5px;
     border: 0;
     outline: 0;
     cursor: pointer;
     text-align: center;
     line-height: 39px;
     margin-left: 15px;
}
 .p5-img3 {
     vertical-align: sub;
     margin-left: 10px;
}
 @media (max-width: 1350px) {
     .p3-div1 {
         margin-right: 0;
    }
     .cont-pw {
         padding-left: 15px;
         padding-right: 15px;
    }
     .cont-pw .p1-2-dv1 {
         margin-left: -15px;
    }
}
 .header-nav{
     margin-right: 50px !important;
}
 @media (max-width: 991px) {
     .header_logo{
         margin-left: 10px !important;
        /*display: none;
        */
    }
     .header-nav {
        /* overflow-x: hidden;
         */
         height: 50px;
         right: -43px;
    }
}
 @media (max-width: 850px) {
     .header_logo{
         margin-left: 30px important;
    }
     header {
         padding: 40px 0 30px;
    }
     .hed_sp2 {
         margin-left: 10px;
    }
     .p5-div6 {
         max-width: none;
    }
     .p5-div9 {
         max-width: none;
         text-align: center;
         padding-left: 0;
         max-height: none;
    }
     .p5-div8 {
         display: none;
    }
}
 @media (max-width: 450px) {
     header {
         padding: 5px 0;
    }
     header nav a span {
         display: none;
    }
     .cont-pw {
         min-width: 0;
         padding: 0 15px;
    }
     header nav a img {
         width: 38px;
    }
     header nav {
         position: absolute;
         top: 10px;
         right: 15px;
         margin-top: 0;
    }
     header > div > a > img {
         width: 280px;
    }
     .p1-main {
        /*margin: 50px 0;
        */
    }
     .cont-pw.font24b {
         padding-top: 60px;
    }
     .p3-div1 {
         float: none;
         text-align: center;
         margin-right: 0;
    }
     .p3-bt1 {
         margin-left: 0;
         margin-bottom: 10px;
    }
     .p3-div2 {
         justify-content: center;
    }
     .p3-div3 {
         width: 300px;
         height: 240px;
         background-size: contain;
    }
     .p3-div4 {
         height: 180px !important;
    }
     .p3-img1 {
         max-width: 230px;
         max-height: 200px;
    }
     .p4-main .p3-img1 {
         max-height: 130px;
    }
     .p5-div1 {
         display: none;
    }
     .p5-div6 {
         height: 182px;
    }
     .p5-img1 {
         max-width: 330px;
         max-height: 180px;
         width: auto;
    }
     .p5-div16 {
         float: none;
         text-align: center;
    }
     .p5-btn1 {
         margin-left: 0;
         margin-bottom: 2px;
    }
}
/*============ Scroll ==========*/
 .scrollbar {
     margin-left: 30px;
     float: left;
     height: 300px;
     width: 65px;
     background: #F5F5F5;
     overflow-y: scroll;
     margin-bottom: 25px;
}
 .force-overflow {
     padding-top: 0px !important;
     margin: 0px !important;
}
 #style-1::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
}
 #style-1::-webkit-scrollbar {
     width: 5px;
     background-color: #F5F5F5;
}
 #style-1::-webkit-scrollbar-thumb {
     border-radius: 20px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #555;
}
 .p5-div5{
     max-width: 1196px;
     margin: auto;
}
 